.header {
    margin-top: 40px;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 35px;
        a {
            text-decoration: none;
            color: var(--BLACK-TEXT, #202020);
            font-family: Ubuntu;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    &__left {
        display: flex;
        gap: 150px;
    }
    &__logo {
        width: 90px;
        height: 90px;
        user-select: none; 
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__link {
        color: var(--BLACK-TEXT, #202020);
        font-family: Ubuntu;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        &-input {
            display: flex;
            align-items: center;
        }
    }

    &__sinin {
        padding: 12px 24px;
        border: none;
        font-size: 18px;
        border-radius: 8px;
        background-color: #4182E3;
        color: white;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            background-color: #3266b4;
        }
        &:active {
            transform: scale(0.95);
        }
    }
    &__account {
        
    }

    &__search {
        width: 45px;
        height: 45px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 10px;
        font-size: 16px;
        color: rgb(0, 0, 0);
        font-weight: 500;
        background-image: url('../../assets/icons/loupe.svg');
        background-position: 10px 8px;
        background-repeat: no-repeat;   
        padding-left: 40px;
        border-radius: 10px 0px 0px 10px;
        border-top: 2px solid var(--BLUE, #4182E3);
        border-bottom: 2px solid var(--BLUE, #4182E3);
        border-left: 2px solid var(--BLUE, #4182E3);
        border-right: 2px solid var(--BLUE, #4182E3);
        transition: width 0.4s ease-in-out;
        cursor: pointer;
        &:focus {
            cursor: auto;
            width: 198px;
            outline: none;
            border-color: #4182E3;
        }
        &_btn {
            width: 90px;
            height: 45px;
            border-radius: 0px 10px 10px 0px;
            background: var(--BLUE, #4182E3);
            border: none;
            color: var(--BG, #F5F5F5);
            font-size: 20px;
            font-weight: 500;
            &:hover {
                cursor: pointer;
                background: #376fc2;
            }
        }
    }

    &__likes {
        height: 30px;
        width: 30px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__cart {
        position: relative;
        height: 30px;
        width: 30px;
        // background-color: #3266b4;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__notif {
        position: absolute;
        top: -15px;
        right: -15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background-color: red;
    }

    &__burgerbtn { 
        display: none;
        width: 20px;
        height: 15px;
        margin-left: 40px;
        position: relative;
        // background-color: black;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 20px;
            background-color: black;
            height: 2px;
            transition: all 0.5s;

        }
        &::before {
            content: '';
            position: absolute;
            top: 0px;
            width: 20px;
            background-color: black;
            height: 2px;
            transition: all 0.5s;

        }
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            background-color: black;
            height: 2px;
        }
        &-active {
            display: none;
            width: 20px;
            height: 15px;
            margin-left: 40px;
            position: relative;
            // background-color: black;
            cursor: pointer;
            &::after {
                margin-top: 5px;
                content: '';
                position: absolute;
                // bottom: 7px;
                width: 20px;
                transform: rotate(-45deg) ;
                background-color: black;
                height: 2px;
                transition: all 0.5s;
            }
            &::before {
                transition: all 0.5s;
                margin-top: 5px;
                content: '';
                position: absolute;
                width: 20px;
                // top: 7px;
                background-color: black;
                height: 2px;
                transform: rotate(45deg) ;


            }
            span {
                position: none;
            }
        }
    }
}



@media screen and (max-width: 1200px) {
    .header {
        &__left {
            gap: 50px;
        }
        &__nav {

            a {
                font-size: 20px;
            }
        }

        &__search {
            width: 35px;
            height: 35px;
            background-position: 10px 5px;
            &_btn {
                width: 75px;
                height: 35px;
            }
        }
    }
}


@media screen and (max-width: 992px) { 

    .header {
        &__burgerbtn {
            display: block;
        }

        &__nav {
            display: none;
        }
        &__buy {
            display: none;
        }
    }


}