
.Filters {
    max-width: 300px;
    flex: 1;
    height: max-content;
    flex-basis: 300px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 2px solid rgb(51, 124, 249);
    &__wrapper {
        padding: 10px;
    }

    &__title { 
        margin-top: 8px;
        font-size: 22px;
    }

    &__che {
    }

        // .Filters__title
        &__label {
            
            padding: 8px;
            border-radius: 8px;
            display: flex;
            gap: 10px;
            align-items: center;
            cursor: pointer;
            transition: background-color .2s;

            &:hover {
                // color: white;
                background-color: #337cf93b;
            }
        }
        
    
        // .Filters__charName
    
        &__charName {
        }
        &__input {
            width: 18px;
            height: 18px;
        }
    
}






@media screen and (max-width: 450px){
    .Filters {
        width: auto;
        background-color: #D9D9D9;
    }
}