@import '../../../app/Styles/Mixins.scss';

.ForgotPasswordForm {

    &__wrapper {
    }

    &__closed {
        display: block;
        margin: 10px 10px 0px auto;
        text-align: right;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 120%; /* 28.8px */
    }

    &__subtitle {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }

    &__email {
        margin-top: 10px;
    }

    &__email-title {
        color: $light-blue;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
    }

    &__email-input {
        width: 100%;
        padding: 8px 16px;
        margin-top: 8px;
        border-radius: 8px;
        border: 1px solid $light-blue-border;
        background: #FFF;
        color: $light-blue;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
    }

    &__submitbtn {
        margin-top: 10px;
        width: 100%;
        padding: 12px 20px;
        border-radius: 8px;
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px; /* 150% */
        background: $blue;
        border: none;
        cursor: pointer;
    }
}
