@import '../../../app/Styles/Mixins.scss';

.ForgotPasswordForm {

    &__wrapper {
    }

    &__title {
        color: #222;
        font-size: 24px;
        font-weight: 700;
        line-height: 120%; /* 28.8px */
    }

    &__subtitle {
        margin-top: 10px;
        color: #222;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }

    &__password {
        position: relative;
        margin-top: 10px;

    }

    &__input-title {
        color: $light-blue;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
    }

    &__input {
        margin-top: 8px;
        width: 100%;
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid $light-blue-border;
        background:#FFF;
        color: $light-blue;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        &-error {
            border: 1px solid #F32D2D;
        }
    }

    &__vision {
        position: absolute;
        top: 45%;
        right: 10px;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        transition: background 0.3s;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 90%;
            height: 90%;
        }
        &:hover {
            background: #dfdfdf;
        }
    }

    &__repeatPassword {
        position: relative;
        margin-top: 10px;
    }

    &__submitbtn {
        width: 100%;
        margin-top: 22px;
        padding: 12px 20px;
        border-radius: 8px;
        background: $blue;   
        color:  #FFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px; /* 150% */ 
        border: none;
        cursor: pointer;
    }
}
